In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.experimental import enable_iterative_imputer  # Enable the iterative imputer
from sklearn.impute import IterativeImputer

In [13]:
df = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [8]:
df.head(3)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900

In [14]:
df.tail

<bound method NDFrame.tail of             id          brand                     model  model_year  milage  \
0            0           MINI             Cooper S Base        2007  213000
1            1        Lincoln                     LS V8        2002  143250
2            2      Chevrolet         Silverado 2500 LT        2002  136731
3            3        Genesis          G90 5.0 Ultimate        2017   19500
4            4  Mercedes-Benz               Metris Base        2021    7388
...        ...            ...                       ...         ...     ...
188528  188528       Cadillac     Escalade ESV Platinum        2017   49000
188529  188529  Mercedes-Benz  AMG C 43 AMG C 43 4MATIC        2018   28600
188530  188530  Mercedes-Benz    AMG GLC 63 Base 4MATIC        2021   13650
188531  188531           Audi          S5 3.0T Prestige        2022   13895
188532  188532        Porsche                Macan Base        2016   59500

            fuel_type                                             engine  \
0            Gasoline       172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1            Gasoline       252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2       E85 Flex Fuel  320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3            Gasoline       420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4            Gasoline       208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel
...               ...                                                ...
188528       Gasoline       420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel
188529       Gasoline      385.0HP 3.0L V6 Cylinder Engine Gasoline Fuel
188530       Gasoline       469.0HP 4.0L 8 Cylinder Engine Gasoline Fuel
188531       Gasoline                                               3.0L
188532       Gasoline       252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                          transmission                    ext_col int_col  \
0                                  A/T                     Yellow    Gray
1                                  A/T                     Silver   Beige
2                                  A/T                       Blue    Gray
3       Transmission w/Dual Shift Mode                      Black   Black
4                          7-Speed A/T                      Black   Beige
...                                ...                        ...     ...
188528  Transmission w/Dual Shift Mode                      White   Beige
188529                     8-Speed A/T                      White   Black
188530                     7-Speed A/T                      White   Black
188531               1-Speed Automatic  Daytona Gray Pearl Effect   Black
188532  Transmission w/Dual Shift Mode                      White   Black

                                      accident clean_title  price
0                                None reported         Yes   4200
1       At least 1 accident or damage reported         Yes   4999
2                                None reported         Yes  13900
3                                None reported         Yes  45000
4                                None reported         Yes  97500
...                                        ...         ...    ...
188528                           None reported         Yes  27500
188529  At least 1 accident or damage reported         Yes  30000
188530                           None reported         Yes  86900
188531                           None reported         NaN  84900
188532                           None reported         Yes  28995

[188533 rows x 13 columns]>

In [15]:
df.columns

Index(['id', 'brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [17]:
#Check the shape of data
print(f'The Training Dataset has {df.shape[0]} rows and {df.shape[1]} columns.')
print(f'The Training Dataset has {df_test.shape[0]} rows and {df_test.shape[1]} columns.')

The Training Dataset has 188533 rows and 13 columns.
The Training Dataset has 125690 rows and 12 columns.

In [16]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [18]:
df.describe()

                  id     model_year         milage         price
count  188533.000000  188533.000000  188533.000000  1.885330e+05
mean    94266.000000    2015.829998   65705.295174  4.387802e+04
std     54424.933488       5.660967   49798.158076  7.881952e+04
min         0.000000    1974.000000     100.000000  2.000000e+03
25%     47133.000000    2013.000000   24115.000000  1.700000e+04
50%     94266.000000    2017.000000   57785.000000  3.082500e+04
75%    141399.000000    2020.000000   95400.000000  4.990000e+04
max    188532.000000    2024.000000  405000.000000  2.954083e+06